{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class ="col">
<form method="post" class="jumbotron" style="font-size: 20px;">
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="title" class="form-control" id="title" placeholder="">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content:</label>
        <textarea class="form-control" id="content" rows="3"></textarea>
      </div>
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Category</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">News</a></li>
          <li><a class="dropdown-item" href="#">Jobs</a></li>
          <li><a class="dropdown-item" href="#">Entertainment</a></li>
          <li><a class="dropdown-item" href="#">Technology</a></li>
        </ul>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
      </div>
    {% csrf_token %}
    <center><button type="submit" class="btn btn-success">Submit</button></center>
</form>
</div>
</div>
</div>
{%endblock content%}