{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-sm-14 col-md-14 col-lg-14 mx-auto">
                <div class="site-heading">
                    <h1 class=" site-heading my-4 mt-3 text-white" style="font-family: Anton;"> Welcome to my awesome Blog </h1>
                    <center><h4 class="text-light" style="font-family: Anton;">Create your own Creativity !!!
                    </h4></center>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
            <div class="col-sm-4 mt-4" style="background-color: #B5C689;">
                    {% for post in post_list %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text"><b><a href="{% url 'category' post.category  %}" >{{post.category}}</b></a></h5>
                        </div>
                    </div>
                {% endfor %}
            </div>

    
        <!-- Blog Entries Column -->
        <div class="col-sm-8 mt-4 left">
            <a href="{%url 'blogpost' %}"><button type="submit" class="btn btn-primary  btn-lg" style="margin-left: 600px;">Add post</button></a>
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body" style="background-color: #B5C689;">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary" style="margin-left:550px;">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 